<% if @user.errors.any? %>
  <div class='row'>
    <div class='alert alert-error span8'>
      <h5>Please fixed the following errors:</h5>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class='well'>
<%= form_for @user do |f| %>
  <div class='control-group'>
  <%= f.label :username %>
  <%= f.text_field :username %>
  </div>
  <div class='control-group'>
  <%= f.label :password %>
  <%= f.text_field :password %> 
  </div>
 
  <%= f.submit('Create Profile', class: 'btn btn-primary') %>
<% end %>
</div>